@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 15px;
    background-color: #f7e683;
    font-size: 17;
}

h1 {
    font-size: 24;
    font-weight: bold;
}

h2 {
    font-size: 20;
}

a:link {
    text-decoration: none;
    color: hsl(199, 100%, 38%)
  }

a:visited {
    text-decoration: none;
    color: hsl(199, 100%, 38%)
}

.button {
    background-color: #44c4ff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}